@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global baseline */
html,
body {
	height: 100%;
	margin: 0;
	font-family: "Inter", sans-serif;
	@apply bg-slate-50 text-slate-800 antialiased;
}

/* Smooth transitions */
a,
button {
	@apply transition-all duration-200 ease-in-out;
}
